@import './src/piui/scss/variable.scss';

$pi-font-color: #333333; // 文字颜色
$pi-content-padding: 24rpx 32rpx; // pi-content 内置padding

$pi-primary-color: #ca332c; // 主要颜色

$STATIC_BASE_URL: 'https://huafa40oss.huafagroup.com'; // 静态资源路径
$STATIC_FONT_URL: $STATIC_BASE_URL + '/assets/font/'; // 字体路径
$STATIC_IMG_URL: $STATIC_BASE_URL + '/assets/img/'; // 静态图路径
